$lg_theme_color: #ea9211;

// Required
@import "../node_modules/bootstrap/scss/bootstrap";

// List Group * List Group Item variable overrides
$list-group-active-bg:              $lg_theme_color;
$list-group-active-border-color:    $lg_theme_color;
$list-group-hover-bg:               $lg_theme_color;
$list-group-action-hover-color:     white;

// Required
@import "../node_modules/bootstrap/scss/bootstrap";

/* ------- customize primary button color -------- */
$border: $lg_theme_color;

.btn-outline-warning {
  @include button-outline-variant(
      $lg_theme_color,
      #ffffff,
      lighten($lg_theme_color, 5%),
    $lg_theme_color
  );
}

.btn-warning {
  @include button-variant(
    $lg_theme_color,
    darken($lg_theme_color, 7.5%),
    darken($lg_theme_color, 10%),
    lighten($lg_theme_color, 5%),
    lighten($lg_theme_color, 10%),
    darken($lg_theme_color, 30%)
  );
}

@mixin list-group-item-variant($state, $background, $color) {
  .list-group-item-#{$state} {
    color: $color;
    background-color: $background;

    &.list-group-item-action {
      &:hover,
      &:focus {
        color: $color;
        background-color: shade-color($background, 10%);
      }

      &.active {
        color: $white;
        background-color: $color;
        border-color: $color;
      }
    }
  }
}